.banner {
    background: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.perfil {
    border-radius: 50%;
    width: 60vh;
    border: #fff solid 0.5rem;
}

@media (max-width: 576px) {
    .banner {
        background-position: 15%;
        height: 100vh;
    }
}

@media (max-width: 768px) { }

@media (max-width: 992px) { }

@media (max-width: 1200px) { }

@media (max-width: 1400px) { }