@font-face {font-family: "8-bit Operator+ Bold";src: url("../fonts/8bitOperatorPlus-Bold.eot?") format("eot"), url("../fonts/8bitOperatorPlus-Bold.woff") format("woff"), url("../fonts/8bitOperatorPlus-Bold.ttf") format("truetype"), url("../fonts/8bitOperatorPlus-Bold.svg#8bitOperatorPlus-Bold") format("svg");font-weight: normal;font-style: normal;
}

body {
    background: url(../img/undertale-bg.jpg);
    background-size: cover;
    font-family:'8-bit Operator+ Bold', monospace;
}

.banner {
    background: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.perfil {
    border-radius: 50%;
    width: 60vh;
    border: #fff solid 0.5rem;
    filter: saturate(140%);
    margin-top: 5vh;
}

.nome {
    margin-top: 25vh;
}
.nome1 {
    font-size: 4rem;
    color: #ffaec9;
}
.nome2 {
    font-size: 4rem;
    color: #fff200;
}

.green{
    rotate: calc(270deg);
    width: 40%;
    margin-top: 15rem;
    margin-left: -10rem;
}

.blue{
    rotate: calc(270deg);
    width: 40%;
    margin-top: -2rem;
    margin-left: -5rem;
}

.orange{
    rotate: calc(270deg);
    width: 40%;
    margin-top: -2rem;
}

.yellow{
    rotate: calc(270deg);
    width: 40%;
    margin-top: -2rem;
    margin-left: 5rem;
}

.pink{
    rotate: calc(270deg);
    width: 40%;
    margin-top: -2rem;
    margin-left: 10rem;
}

.red{
    rotate: calc(270deg);
    width: 40%;
    margin-top: -2rem;
    margin-left: 15rem;
}

.purple{
    rotate: calc(270deg);
    width: 40%;
    margin-top: -2rem;
    margin-left: 20rem;
}

.progressao{
    margin-left: 20rem;
    margin-top: -5rem;
}

.progress {
    height: 2rem;
}

.habilidades {
    padding-bottom: 10rem;
}

@media (max-width: 576px) {
    .banner {
        background-position: 15%;
        height: 100vh;
    }
    .perfil {
        margin-top: 5vh;
    }
    .progressao{
        margin-left: 0;
        margin-top: 0;
    }
    .green{
        rotate: calc(0deg);
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    
    .blue{
        rotate: calc(0deg);
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }
    
    .orange{
        rotate: calc(0deg);
        width: 100%;
        margin-top: 1rem;
    }
    
    .yellow{
        rotate: calc(0deg);
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }
    
    .pink{
        rotate: calc(0deg);
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }

    .red{
        rotate: calc(0deg);
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }

    .purple{
        rotate: calc(0deg);
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }
}

@media (max-width: 768px) { }

@media (max-width: 992px) {
    .perfil {
        margin-top: 3vh;
    }
    .nome {
        margin-top: 1vh;
        text-align: center;
    }
    .progressao{
        margin-left: 0;
        margin-top: 0;
    }
    .green{
        rotate: calc(0deg);
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    
    .blue{
        rotate: calc(0deg);
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }
    
    .orange{
        rotate: calc(0deg);
        width: 100%;
        margin-top: 1rem;
    }
    
    .yellow{
        rotate: calc(0deg);
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }
    
    .pink{
        rotate: calc(0deg);
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }

    .red{
        rotate: calc(0deg);
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }

    .purple{
        rotate: calc(0deg);
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }
 }

@media (max-width: 1200px) { }

@media (max-width: 1400px) { }